<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xss.libraryfinal.mapper.LendMapper">
  <resultMap id="BaseResultMap" type="com.xss.libraryfinal.domain.Lend">
    <constructor>
      <idArg column="lendId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="readerId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="readerName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bookName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="begintime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="endtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    lendId, readerId, readerName, bookId, bookName, begintime, endtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_lend
    where lendId = #{lendid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_lend
    where lendId = #{lendid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xss.libraryfinal.domain.Lend">
    insert into t_lend (lendId, readerId, readerName, 
      bookId, bookName, begintime, 
      endtime)
    values (#{lendid,jdbcType=VARCHAR}, #{readerid,jdbcType=VARCHAR}, #{readername,jdbcType=VARCHAR}, 
      #{bookid,jdbcType=VARCHAR}, #{bookname,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xss.libraryfinal.domain.Lend">
    insert into t_lend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lendid != null">
        lendId,
      </if>
      <if test="readerid != null">
        readerId,
      </if>
      <if test="readername != null">
        readerName,
      </if>
      <if test="bookid != null">
        bookId,
      </if>
      <if test="bookname != null">
        bookName,
      </if>
      <if test="begintime != null">
        begintime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lendid != null">
        #{lendid,jdbcType=VARCHAR},
      </if>
      <if test="readerid != null">
        #{readerid,jdbcType=VARCHAR},
      </if>
      <if test="readername != null">
        #{readername,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xss.libraryfinal.domain.Lend">
    update t_lend
    <set>
      <if test="readerid != null">
        readerId = #{readerid,jdbcType=VARCHAR},
      </if>
      <if test="readername != null">
        readerName = #{readername,jdbcType=VARCHAR},
      </if>
      <if test="bookid != null">
        bookId = #{bookid,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null">
        bookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        begintime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lendId = #{lendid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xss.libraryfinal.domain.Lend">
    update t_lend
    set readerId = #{readerid,jdbcType=VARCHAR},
      readerName = #{readername,jdbcType=VARCHAR},
      bookId = #{bookid,jdbcType=VARCHAR},
      bookName = #{bookname,jdbcType=VARCHAR},
      begintime = #{begintime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where lendId = #{lendid,jdbcType=VARCHAR}
  </update>
</mapper>