<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bayir 后台管理系统</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"><!--bootstrap.min.css-->
    <!--    <link rel="stylesheet" href="../static/css/main.css"> -->

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="warp">
    <!-- 页眉 -->
    <div class="header" onselectstart="return false">
            <span class="logo">
                <a class="logo-go goback" href="index.html">后台管理系统</a>
                <a class="logo-go goblog" href="">返回主页</a>
            </span>
        <span class="logout">
                <a id="user" class="user">Admin</a>
                <div id="user-set" class="userSet">
                    <ul>
                        <li><a>个人信息</a></li>
                        <li><a>帐号修改</a></li>
                    </ul>
                </div>
                <a href="">退出</a>
            </span>
    </div>
    <!-- 主体 -->
    <div class="content">
        <!-- 左侧边栏 -->
        <div class="sidebar">
            <ul>
                <li></li>
                <li><a href="index.html">信息总览</a></li>
                <li><a href="bookManage.html">文章管理</a></li>
                <li><a href="pages.html">页面管理</a></li>
                <li><a href="comments.html">评论管理</a></li>
                <li><a href="setting.html">系统设置</a></li>
            </ul>
        </div>
        <!-- 右侧主要内容区 -->
        <div class="panel panel-default" style="width: 700px;margin-left: 200px;height: 700px;margin-top: 30px">
            <div class="panel-body">
                <!--                用于传输整个表单的数据-->
                <form id="form1" enctype="multipart/form-data" method="post">
                    <table class="table table-hover">
                        <!--                    上传头像-->
                        <tr>
                            <th width="15%" height="%"
                                style="margin-bottom: 0px;padding-bottom: 0px;vertical-align: middle">书的icon
                            </th>
                            <td><input type="file" name="bookicon" onchange="preview(this)">
                                <!--                                存放图片-->
                                <span id="preview" style="margin-left: 0px"></span>
                            </td>

                        </tr>
                        <!--                    上传书名-->
                        <tr>
                            <th width="15%">书名</th>
                            <td><input type="text" name="bookname" id="bookname"></td>
                        </tr>
                        <!--                    上传书的作者-->
                        <tr>
                            <th width="15%">作者名</th>
                            <td><input type="text" name="bookauthor" id="bookauthor"></td>
                        </tr>
                        <!--                    请选择书的类型-->
                        <tr style="height: 50px">
                            <th width="15%">书的类型</th>
                            <td>
                                <select id="booktype" name="booktypeid"  style="height: 25px;width:200px;font-size: 15px">
                                    <div>
<!--                                        <option th:text="${booktype.booktype}"-->
<!--                                                th:value="${booktype.booktypeid}">-->
<!--                                        </option>-->
                                        <div th:each="cat1 : ${booktype.children}">
<!--                                            <option th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+${cat1.booktype}"-->
<!--                                                    th:value="${cat1.booktypeid}">-->
<!--                                            </option>-->
                                            <div th:each="cat2 : ${cat1.children}">
<!--                                                <option th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+${cat2.booktype}"-->
<!--                                                        th:value="${cat2.booktypeid}">-->
<!--                                                </option>-->
                                                <div th:each="cat3 : ${cat2.children}">
                                                    <option th:text="${cat1.booktype}+'---'+${cat2.booktype}+'---'+${cat3.booktype}"
                                                            th:value="${cat3.booktypeid}">
                                                    </option>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </select>
                            </td>
                        </tr>
                        <!--                    请输入书的价格-->
                        <tr>
                            <th width="15%">书的价格</th>
                            <td><input type="text" name="bookprice" id="bookprice"></td>
                        </tr>
                        <!--                    请输入书的出版商-->
                        <tr>
                            <th width="15%">出版商</th>
                            <td><input type="text" name="bookpublisher" id="bookpublisher"></td>
                        </tr>
                        <!--请选择书的推荐状态-->
                        <tr>
                            <th>推荐状态</th>
                            <td>
                                <label><input id="status01" type="radio" name="bookstatus" value="0">普通</label>
                                <label><input id="status02" type="radio" name="bookstatus" value="1" onchange="recommand()">推荐</label>
                            </td>
                        </tr>
                        <!--                    请输入书的简介-->
                        <tr>
                            <th width="15%">简介</th>
                            <td>
                                <textarea style="height: 200px;width: 450px" name="bookabstract"
                                          id="bookabstract"></textarea>
                            </td>
                        </tr>
                    </table>

                    <div style="padding-top: 10px;float:left ">
                        <a href="bookManage">返回书单</a>
                    </div>
                    <div style="float: right;margin-top: 10px">
                        <input type="submit" style="width: 88px">
                    </div>
                </form>
                <!--                <div style="float: right;margin-top: 18px">-->
                <!--                    <button style="width: 88px;height: 100px;" value="提交" onclick="putform()"></button>-->
                <!--                </div>-->
            </div>
        </div>

    </div>
</div>
<script>

    var bookid = "";
    $(function () {
        draw();
    })

    /*提交整个表单数据*/
    // function putform() {
    //     var formData = new FormData($("#form1")[0]);
    //     console.log(formData);
    //     $.ajax({
    //         "url": "/web/book/dobook?action=update&bookid=" + bookid,
    //         "type": "post",
    //         "data": formData,
    //         "async": true,
    //         "cache": false,
    //         "contentType": false,
    //         "processData": false,
    //         "success": function (json) {
    //             window
    //         }
    //     })
    // }

    /*对页面进行渲染*/
    function draw() {
        bookid = GetQueryString("bookid");
        $.ajax({
            "url": "/web/book/bookdetails/" + bookid,
            "type": "get",
            "success": function (json) {
                var location = getRootPath();
                var src = location + "/" + json["bookicon"];
                // $("#preview").innerHTML = '<img style="width: 100px;height: 100px" src="' + src + '" />';
                $("#preview").html('<img style="width: 100px;height: 100px" src="' + src + '" />');
                $("#bookname").attr('placeholder', json["bookname"]);
                $("#bookauthor").attr('placeholder', json["bookauthor"]);
                $("#booktype").val(json["booktypeid"]);
                $("#bookabstract").attr('placeholder', json["bookabstract"]);
                $("#bookprice").attr('placeholder', json["bookprice"]);
                $("#bookpublisher").attr('placeholder', json["bookpublisher"]);
                $("#form1").attr('action', "/web/book/dobook?action=update&bookid=" + json["bookid"]);
                if (json["bookstatus"]=="0"){
                    $("input[name='bookstatus'][value='0']").attr("checked",true);
                }else {
                    $("input[name='bookstatus'][value='1']").attr("checked",true);
                }
            }
        })
    }


    /*实现图片预览功能*/
    function preview(file) {
        var prevDiv = document.getElementById('preview');
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function (evt) {
                prevDiv.innerHTML = '<img style="width: 100px;height: 100px" src="' + evt.target.result + '" />';
            }
            reader.readAsDataURL(file.files[0]);
        } else {
            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    }

    //获取项目跟路径
    function getRootPath() {
        var curWwwPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        var localhostPaht = curWwwPath.substring(0, pos);
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        return (localhostPaht + projectName);
    }

    // 用来获取？后面的参数
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
        if (r != null) return decodeURI(r[2]);
        return null;
    }

    function recommand() {
        $.ajax({
            "url": "/web/book/recommand/",
            "type": "get",
            "success": function (json) {
                if (json=="3"){
                    alert("已超过最大推荐数")
                    $("#status01").prop("checked",true);
                }
            }
        })
    }
</script>
</body>
</html>