<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bayir 后台管理系统</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css"><!--bootstrap.min.css-->
    <!--    <link rel="stylesheet" href="../static/css/main.css"> -->

    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="warp">
    <!-- 页眉 -->
    <div class="header" onselectstart="return false">
            <span class="logo">
                <a class="logo-go goback" href="index.html">后台管理系统</a>
                <a class="logo-go goblog" href="">返回主页</a>
            </span>
        <span class="logout">
                <a id="user" class="user">Admin</a>
                <div id="user-set" class="userSet">
                    <ul>
                        <li><a>个人信息</a></li>
                        <li><a>帐号修改</a></li>
                    </ul>
                </div>
                <a href="">退出</a>
            </span>
    </div>
    <!-- 主体 -->
    <div class="content">
        <!-- 左侧边栏 -->
        <div class="sidebar">
            <ul>
                <li></li>
                <li><a href="index.html">信息总览</a></li>
                <li><a href="bookManage.html">文章管理</a></li>
                <li><a href="pages.html">页面管理</a></li>
                <li><a href="comments.html">评论管理</a></li>
                <li><a href="setting.html">系统设置</a></li>
            </ul>
        </div>
        <!-- 右侧主要内容区 -->
        <div class="panel panel-default" style="width: 700px;margin-left: 200px;height: 700px;margin-top: 30px">
            <div class="panel-heading">
                <h3 class="panel-title" id="book">面板标题</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <td style="padding-left: 80px"><img id="bookicon" style="width: 100px;height: 100px"></td>
                    </tr>
                    <tr>
                        <th width="15%">书名</th>
                        <td style="padding-left: 80px" id="bookname"></td>
                    </tr>
                    <tr>
                        <th width="15%">书作者</th>
                        <td style="padding-left: 80px" id="bookauthor"></td>
                    </tr>
                    <tr>
                        <th width="15%">书的类型</th>
                        <td style="padding-left: 80px" id="booktype"></td>
                    </tr>
                    <tr>
                        <th width="15%">书的价格</th>
                        <td style="padding-left: 80px" id="bookprice"></td>
                    </tr>
                    <tr>
                        <th width="15%">出版商</th>
                        <td style="padding-left: 80px" id="bookpublisher"></td>
                    </tr>
                    <tr>
                        <th width="15%">被借阅次数</th>
                        <td style="padding-left: 80px" id="borrowedtimes"></td>
                    </tr>
                    <tr>
                        <th width="15%">推荐状态</th>
                        <td style="padding-left: 80px" id="bookstatus"></td>
                    </tr>
                    <tr>
                        <th width="15%">简介</th>
                        <td style="padding-left: 80px" id="bookabstract"></td>
                    </tr>

                </table>
                <div style="padding-bottom: 100px">
                    <a href="bookManage">返回书单</a>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        draw()
    })

    function draw() {
        var bookid = GetQueryString("bookid");

        $.ajax({
            "url": "/web/book/bookdetails/" + bookid,
            "type": "get",
            "success": function (json) {
                var location1 = getRootPath();
                var src = location1 + "/" + json["bookicon"];
                $("#bookicon").attr("src", src);
                $("#bookname").html(json["bookname"]);
                $("#bookauthor").html(json["bookauthor"]);
                $("#booktype").html(json["booktype"]);
                $("#bookabstract").html(json["bookabstract"]);
                $("#bookprice").html(json["bookprice"]);
                $("#bookpublisher").html(json["bookpublisher"]);
                $("#bookstatus").html(json["bookstatus"]==1?"推荐":"普通");
                $("#book").html("《"+json["bookname"]+"》");
                $("#borrowedtimes").html(json["borrowedtimes"]);
            }
        })
    }

    //获取项目跟路径
    function getRootPath() {
        var curWwwPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        var localhostPaht = curWwwPath.substring(0, pos);
        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
        return (localhostPaht + projectName);
    }

    // 用来获取？后面的参数
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
        if (r != null) return decodeURI(r[2]);
        return null;
    }
</script>
</body>
</html>